

* {
    margin: 0;
    padding: 0;
  }
  .header, .footer 
  {
  width: 100%; 
  height: 100px; 
  text-align: center;
  line-height: 100px;
  background-color: rgb(173, 173, 173)
  }
  .content { 
    margin: 0 auto;
    max-width: 100%;
    font-size: 0; 
  }
  .content .left, .content .center, .content .right { 
     display: inline-block;
     font-size: 16px; 
     height: 550px; 
     line-height: 550px;
     text-align:center;
  }
  .content .left, .content .right 
  { 
    width: 20%; 
  }
  .content .center 
  { 
    width: 60%;
  }  